<div class="welcome-header">
	<h1 class="welcome">Pomodoro Timer</h1>
	<p>A more efficient way to work.</p>
</div>

<div class="timer" ng-controller="LandingController">
	<div class="header">
	<h1 class="time-left">{{timerTime | formatTime}}</h1>
		<button class="btn btn-success-outline click-me" ng-click="updateTimer()" ng-show="active != true && breakActive == false">Get Working!</button>
		<button class="btn btn-success" ng-click="updateTimer()" ng-show="active == true && breakActive == false">Reset, bitches</button> <br/><br/>
		<button class="btn btn-success" ng-click="updateBreakTimer()" ng-show="breakActive == false && active == false" >Take a break</button>
		<button class="btn btn-success" ng-click="updateBreakTimer()" ng-show="breakActive == false && active == true">Take a break</button>
		<button class="btn btn-danger" ng-click="updateBreakTimer()" ng-show="breakActive == true">Stop Break</button>
	</div>
</div>